:root {
  --text-color: #262842;
  --dim-text-color: #6D6E85;
  --disabled-text-color: #A9A9B8;

  --transition-animation: .5s;

  --border-color: #2628421F;
  --border-radius: 10px;
  --border-size: 1px;
}
