:root {
    --text-color: #29374E;
    --primary-color: #0962E8;
    --primary-color-lighter: #CBECFF;
    --primary-color-darker: #0952cc;

    --hover-transition: .2s;
    --animation-transition: .5s;
}

