.main_section {
    background-color: var(--primary-color-lighter);
}

.language_switchers_container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.language_switcher {
    width: 26px;
    height: 24px;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
}

.language_switcher:first-child {
    margin-right: 15px;
}

.language_switcher.selected {
    background-color: white;
    color: var(--primary-color);
    padding: 2px 4px;
    border-radius: 12px;
}



.main_section_content {
    display: flex;
    justify-content: space-between;
}

.main_section_content_left {
    padding-top: 63px;
}

.main_section_content_left_company_name {
    font-size: 64px;
    margin: 0;
    white-space: nowrap;
}

.main_section_content_left_company_name span {
    font-size: 64px;
    background: white;
    color: var(--primary-color);
    padding: 0 12px;
    border-radius: 20px;
}

.main_section_content_left_company_slogan {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    max-width: 384px;
    margin: 14px 0 0;
}

.main_section_content_left_button {
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 12px;
    margin-top: 38px;
    background-color: var(--primary-color);
    font-size: 18px;
    color: white;
    transition: background-color var(--hover-transition);
}

.main_section_content_left_button:hover {
    background-color: var(--primary-color-darker);
}

.main_section_content_right_hand {
    transform: translateX(50px);
    transition: var(--animation-transition);
}

.main_section_bottom_blocks {
    width: 100%;
    display: flex;
    transform: translateY(20px);
}

.main_section_bottom_block {
    width: 241px;
    height: 118px;
    background: white;
    margin-right: 20px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.main_section_bottom_block i {
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--primary-color);
}

.main_section_bottom_block span {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.main_section_bottom_block:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1100px) {
    .main_section_content_right_hand {
        width: 386px;
        height: 360px;
        transform: unset;
    }

    .main_section_bottom_block {
        padding: 10px !important;
        padding-top: 30px !important;
    }

    .main_section_bottom_block i {
        top: -5px;
        left: 15px;
        right: unset;
        background: white;
        padding: 5px;
        border-radius: 100%;
    }

    .main_section_bottom_block span {
        font-size: 13px;
    }
}

@media screen and (max-width: 600px) {
    .main_section {
        height: unset;
    }

    .main_section_content {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }

    .main_section_bottom_blocks {
        width: 100%;
        margin-top: 35px;
        transform: unset;
        height: unset;
        flex-wrap: wrap;
    }

    .main_section_bottom_block {
        width: calc(50vw - 35px) !important;
        height: 118px !important;
        margin-bottom: 20px !important;
        margin-right: 0;
        display: flex;
        align-items: end;
        padding: 12px !important;
    }

    .main_section_bottom_block:nth-child(odd) {
        margin-right: 20px;
    }

    .main_section_bottom_block i {
        top: -5px;
        left: 15px;
        right: unset;
        background: white;
        border-radius: 100%;
    }

    .main_section_bottom_block span {
        font-size: 14px !important;
    }

    .main_section_content_left {
        width: 100%;
    }

    .main_section_content_left_company_slogan {
        font-size: 16px;
    }

    .main_section_content_left_button {
        margin-top: 16px !important;
        width: 100%;
    }

}
