.products_section {
    margin-top: 115px;
}

.products_section_heading {
    width: 100%;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.products_section_heading span {
    font-size: 38px;
    color: var(--primary-color);
}

.products_section_products_container {
    width: 100%;
    margin-top: 45px;
    display: flex;
}

.products_section_product_block {
    width: 502px;
    height: 328px;
    background: #E9F6FF;
    margin-right: 20px;
    border-radius: 30px;
    padding: 37px 20px;
    display: flex;
    justify-content: space-between;
}

.products_section_product_block h2 {
    margin: 0;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.products_section_product_block p {
    margin-top: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

@media screen and (max-width: 1100px) {
    .products_section_products_container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .products_section_product_block {
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 600px) {
    .products_section {
        margin-top: 40px;
    }

    .products_section_heading {
        font-size: 24px;
    }

    .products_section_products_container {
        margin-top: 24px;
    }

    .products_section_heading span {
        font-size: 24px;
    }

    .products_section_product_block {
        height: 215px !important;
    }

    .products_section_product_block h2 {
        font-size: 16px;
    }

    .products_section_product_block p {
        font-size: 13px;
    }

    .products_section_product_block img {
        width: 142px;
        height: 190px;
    }
}
